<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <style>
    main {
      margin: 0 auto;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
    }
    li.ad {
      flex: 0 0 33.33%;
      /* max-width: 33.33%; */
      box-sizing: border-box;
      padding: 10px;
      position: relative;
    }

    li.ad img {
      max-width: 100%;
      height: 70%;
      /* display: block; */
    }

    .items {
      display: flex;
      flex-direction: row;
      padding: 15px;
    }

    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    h3 a {
      color: #0077cc;
      text-decoration: none;
    }

    p {
      font-size: 14px;
      margin: 5px 0;
      display: flex;
      align-items: center;
    }

    p i {
      margin-right: 5px;
    }

    @media (max-width: 600px) {
      li.ad {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    /* Styles */

    .video-actions {
      top: 20px;
      right: 10px;
      display: block;
    }

    .video:hover .video-actions {
      display: block;
    }

    .video .btn {
      border: none;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
    }

    .video .btn.edit {
      background: #fdfdfd;
    }

    .video .btn.delete {
      background: #ed0909;
    }
  </style>
  <body>
    <%- include("navbar") %>

    <main>
      <ul>
        <% ads.forEach(function(ad) { %>
        <li class="ad">
          <img
            src="http://localhost:2000/images/<%= ad.image %>"
            alt="Ad image"
          />
          <div class="items">
            <h3>
              <a href="<%= ad.link %>" target="_blank" rel="noopener noreferrer"
                >link <i class="fa-solid fa-arrow-right"> </i
              ></a>
            </h3>
            <h3>| <%= ad.location %> |</h3>
            <p><i class="fa-regular fa-eye"></i> 10 |</p>
            <p><i class="fa-solid fa-circle-play"></i> 5</p>
          </div>
        </li>
        <div class="video-actions">
          <button class="btn edit" id="edit_<%= ad._id %>">Edit</button>
          <button class="btn delete" id="delete_<%= ad._id %>">Delete</button>
        </div>
      </div>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
